<div class="container text-center">
    <h1>About Page</h1>
    <p> The purpose of this site is to showcase the skills I've developed by 
    developing a Software as a Service, using the Ruby on Rails framework.
    </p>
</div>